.home {
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url("../assets/home.jpeg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  display: flex;
  &__container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 50px 10vw;
    background-color: rgba(100, 100, 100, 0.3);
    &--id {
      margin: 10px 0;
      padding: 5px 0;
    }
    &--password {
      margin: 10px 0;
      padding: 5px 0;
    }
    &--btn {
      margin: 10px 0;
      padding: 5px 0;
      background-color: lightblue;
      border: 1px solid grey;
      color: white;
    }
  }
}
